
.menu a {
        font-weight: 500;
    color: #212121;
font-size: 14px;
text-decoration: none;
line-height: 1.1;
    letter-spacing: 0.02em;
    list-style: none;
}

.permalink:focus {color: #2196F3}
.permalink:hover {
    color: #2196F3
}
.contact a {
        font-weight: 500;
    color:#757575;
text-decoration: none;
font-size: 14px;}

body{color: #212121;
font-size: 16px;
font-family: "Roboto", "Raleway", sans-serif;}

.main {background-color: #2F303A;
height: 600px;
width: 1600px;
    top: 80px;}

.tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    border-radius: nullpx;}

.poem{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
        width: 270px;
        height: 16px;
        top: 774px;
}
    
.description {
list-style: none;
display: flex;}

.image {
    list-style: none;
    display: flex;
    position: absolute;
    top: 1061px;}

.company{list-style: none;
    display: flex;
   }    

.about {
    color: #757575;
font-size: 16px;
letter-spacing: 0.03em;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform:none;
width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;}

.section {
    font-size: 36px;
line-height: 42px;
position: absolute;
    letter-spacing: 0.03em;
        width: 352px;
        height: 42px;
        left: 624px;
        top: 969px;
}

.team {font-size: 36px;
    line-height: 42px;
    text-decoration: center;
    letter-spacing: 0.03em;
    text-align: center;
}

.third{position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;}    

.end {font-size: 14px;
color:rgba(255, 255, 255, 0.6);
background: #2F303A;
position: absolute;
    width: 1600px;
    height: 252px;
    top: 2097px;}

.hand {cursor: pointer;}

.name {
        font-weight: 500;
    font-size: 18px;
line-height: 2;
    letter-spacing: 0.03em;}

.click {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
background-color: #F5F4FA;
}

.click:hover{background-color: #2196F3;
color: #FFFFFF;
cursor: pointer;
}

.color {color:#FFFFFF}
.studio {color:#000000}

.service{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 42px;
margin-top:10px    }
      
        
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
    margin-left: 215px;

}

.container {width: 1200px;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content:space-between; 
    Height:80px
  }

.menu {
    list-style: none;
    display: flex;
    justify-content:space-between;
}

.contact {
    font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
    }
.menu> .permalink:not(:last-child){margin-left: 46px;}

.contact.link{display: block;}



