*{box-sizing:border-box;
margin: 0;
padding: 0;
    }
body {
    color: #212121;
    font-size: 16px;
    font-family: "Roboto", "Raleway", sans-serif;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content:left;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
}
.studio {
    color: #000000
}

.menu a {
        font-weight: 500;
    color: #212121;
font-size: 14px;
text-decoration: none;
line-height: 1.1;
    letter-spacing: 0.02em;
}
.menu{
list-style: none;
display: flex;
padding-left: 93px;
}
.permalink{padding-right: 46px;}
.permalink:focus {
    color: #2196F3
}
.permalink:hover {
    color: #2196F3
}
.permalink-mail{padding-right: 46px;}
.write a {
font-weight: 500;
color:#757575;
text-decoration: none;
font-size: 14px;
}
.write {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    list-style: none;
    display: flex;
padding-left: 371px;
}
.section-tittle {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #2F303A;
    text-align: center;
}
.section-lorem {padding-top: 94px;}
.container {
width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: nullpx;
    margin-bottom: 30px;
    padding-top: 104px;
}
.service {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 114px;
}
.container {width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.section{padding-top: 94px;
    padding-bottom: 94px;}
.description {
    list-style: none;
    display: flex;
}
.poem-lorem{
    flex-basis: calc(100%-3*30px/4)
}
.poem {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.lorem {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    text-transform: none;
    padding-top: 10px;
}
.description {
    list-style: none;
    display: flex;
    gap: 30px;
}
.poem-lorem {
    flex-basis: calc(100%-3*30px/4);
}
.story {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 50px;

    text-align: center;
}
.computer {
    padding-right: 30px;
    display: flex;
}
.image {
    list-style: none;
    display: flex;
}
.computer-second,
.computer-third {
    padding-right: 30px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
background: #F5F4FA;
}
.team {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}
.company {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 47px;
    margin-right: 30px
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
}
.about {
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: none;
    text-align: center;
    padding-bottom: 30px;
}
.container{width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.end {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 60px;
    background: #2F303A;
    padding-bottom: 60px;
}
.color {
    color: #FFFFFF
}
.contact {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.contact a {
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}
.footer-address {
    list-style: none;
}
.address-list {
    padding-top: 20px;
}
.mail {
    padding-top: 9px;
}


.page-portfolio {
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.background {
    padding-top: 94px;
        padding-bottom: 94px;
}
.button-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.click {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        background: #F5F4FA;
        border-radius: 4px;
        margin-left: 8px;
        border-style: none;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
    }

.click:hover{background-color: #2196F3;
color: #FFFFFF;
cursor: pointer;
}
.description-img {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.img {display: flex;
    flex-basis: calc(100%-2*30/3);
    margin-top: 56px;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}
.image-name {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
    padding-left: 24px;
    padding-top: 20px;
}

.about-img {
    color: #757575;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding-top: 8px;
    font-weight: 400px;
    padding-left: 24px;
}





